/*

Available Fonts:
Mullish: (font-family: 'Mulish', sans-serif;)
Montserrat Alternates: (font-family: 'Montserrat Alternates', sans-serif;)
Ubuntu: (font-family: 'Ubuntu', sans-serif;)

*/
/* -- Main Tags -- */
body {
      font-family: 'Mulish', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
      font-family: 'Mulish', sans-serif;
      font-style: normal;
      font-weight: 900;
}

/* ------------------------- SECTIONS ------------------------- */
/* =============================================================== */
/*



      _____                    _____                _____                    _____            _____
     /\    \                  /\    \              /\    \                  /\    \          /\    \
    /::\    \                /::\    \            /::\    \                /::\____\        /::\    \
    \:::\    \               \:::\    \           \:::\    \              /:::/    /       /::::\    \
     \:::\    \               \:::\    \           \:::\    \            /:::/    /       /::::::\    \
      \:::\    \               \:::\    \           \:::\    \          /:::/    /       /:::/\:::\    \
       \:::\    \               \:::\    \           \:::\    \        /:::/    /       /:::/__\:::\    \
       /::::\    \              /::::\    \          /::::\    \      /:::/    /       /::::\   \:::\    \
      /::::::\    \    ____    /::::::\    \        /::::::\    \    /:::/    /       /::::::\   \:::\    \
     /:::/\:::\    \  /\   \  /:::/\:::\    \      /:::/\:::\    \  /:::/    /       /:::/\:::\   \:::\    \
    /:::/  \:::\____\/::\   \/:::/  \:::\____\    /:::/  \:::\____\/:::/____/       /:::/__\:::\   \:::\____\
   /:::/    \::/    /\:::\  /:::/    \::/    /   /:::/    \::/    /\:::\    \       \:::\   \:::\   \::/    /
  /:::/    / \/____/  \:::\/:::/    / \/____/   /:::/    / \/____/  \:::\    \       \:::\   \:::\   \/____/
 /:::/    /            \::::::/    /           /:::/    /            \:::\    \       \:::\   \:::\    \
/:::/    /              \::::/____/           /:::/    /              \:::\    \       \:::\   \:::\____\
\::/    /                \:::\    \           \::/    /                \:::\    \       \:::\   \::/    /
 \/____/                  \:::\    \           \/____/                  \:::\    \       \:::\   \/____/
                           \:::\    \                                    \:::\    \       \:::\    \
                            \:::\____\                                    \:::\____\       \:::\____\
                             \::/    /                                     \::/    /        \::/    /
                              \/____/                                       \/____/          \/____/




*/
/************* TITLE SECTION *************/
#title {
      background-color: #ff4c68;
      color: white;
      padding-bottom: 7rem;
}

/* +++++++++++++++ Nav Bar +++++++++++++++ */
.container-fluid {
      padding: 2.5% 10% 0;
}

.navbar {
      padding: 0 0 4.5rem;
}

.navbar-brand {
      font-family: 'Ubuntu', sans-serif;
      font-size: 2.0rem;
      font-weight: 600;
      margin: 0;
}

.nav-item {
      margin: auto 0.75rem;
}

.nav-link {
      text-decoration: none;
      font-size: 1.25rem;
      font-weight: 200;
}

/* +++++++++++ Front Page Bar +++++++++++ */
.frontpage-title {
      font-size: 3.5rem;
      line-height: 1.50;
}

.frontpage-dl-icon {
      margin: 5% 5% 5% 5%;
}

.frontpage-image {
      width: 60%;
      transform: rotate(25deg);
      position: absolute;
      left: 30px;
}

/* +++++++++++ Responsive Code Mode: ON +++++++++++ */
/* TABLET */
@media (max-width: 1180px) and (min-width: 990px) {
      .frontpage-title {
            font-size: 2.5rem;
            line-height: 1.50;
      }

      .frontpage-image {
            width: 60%;
            transform: rotate(25deg);
            position: absolute;
            left: 70px;
      }
}

/* MOBILE */
@media (max-width: 990px) {
      #title {
            background-color: #ff4c68;
            color: white;
            padding-bottom: 7rem;
            text-align: center;
      }

      .frontpage-dl-icon {
            margin: 5% 5% 10% 5%;
      }

      .frontpage-image {
            position: static;
            transform: rotate(0deg);
      }
}

/* +++++++++++ Responsive Code Mode: OFF +++++++++++ */
/* =============================================================== */
/* =============================================================== */
/*


          _____                    _____                    _____                _____                    _____
         /\    \                  /\    \                  /\    \              /\    \                  /\    \
        /::\    \                /::\    \                /::\    \            /::\    \                /::\    \
       /::::\    \              /::::\    \              /::::\    \           \:::\    \              /::::\    \
      /::::::\    \            /::::::\    \            /::::::\    \           \:::\    \            /::::::\    \
     /:::/\:::\    \          /:::/\:::\    \          /:::/\:::\    \           \:::\    \          /:::/\:::\    \
    /:::/__\:::\    \        /:::/__\:::\    \        /:::/__\:::\    \           \:::\    \        /:::/__\:::\    \
   /::::\   \:::\    \      /::::\   \:::\    \      /::::\   \:::\    \          /::::\    \       \:::\   \:::\    \
  /::::::\   \:::\    \    /::::::\   \:::\    \    /::::::\   \:::\    \        /::::::\    \    ___\:::\   \:::\    \
 /:::/\:::\   \:::\    \  /:::/\:::\   \:::\    \  /:::/\:::\   \:::\    \      /:::/\:::\    \  /\   \:::\   \:::\    \
/:::/  \:::\   \:::\____\/:::/__\:::\   \:::\____\/:::/  \:::\   \:::\____\    /:::/  \:::\____\/::\   \:::\   \:::\____\
\::/    \:::\   \::/    /\:::\   \:::\   \::/    /\::/    \:::\  /:::/    /   /:::/    \::/    /\:::\   \:::\   \::/    /
 \/____/ \:::\   \/____/  \:::\   \:::\   \/____/  \/____/ \:::\/:::/    /   /:::/    / \/____/  \:::\   \:::\   \/____/
          \:::\    \       \:::\   \:::\    \               \::::::/    /   /:::/    /            \:::\   \:::\    \
           \:::\____\       \:::\   \:::\____\               \::::/    /   /:::/    /              \:::\   \:::\____\
            \::/    /        \:::\   \::/    /               /:::/    /    \::/    /                \:::\  /:::/    /
             \/____/          \:::\   \/____/               /:::/    /      \/____/                  \:::\/:::/    /
                               \:::\    \                  /:::/    /                                 \::::::/    /
                                \:::\____\                /:::/    /                                   \::::/    /
                                 \::/    /                \::/    /                                     \::/    /
                                  \/____/                  \/____/                                       \/____/



*/
/************* FEATURES SECTION ************* */
#features {
      position: relative;
      background-color: white;
      padding: 6.5rem 2.5rem;
      text-align: center;
}

/* +++++++++++ Features Column +++++++++++ */
.features-separator-column {
      padding: 6rem 1rem 6rem;
}

.features-fas-icon {
      font-size: 4em;
      margin: 0 0 1em 0;
      color: #ef8172;
}

.features-fas-icon:hover {
      color: #ff4c68;
}

.features-header {
      font-size: 1.5rem;
      font-weight: 900;
}

.features-subtext {
      font-size: 1.23rem;
      padding: 0 1.31rem 0;
      color: #8f8f8f;
}

/* +++++++++++ Responsive Code Mode: ON +++++++++++ */
/* TABLET */
@media (max-width: 1180px) and (min-width: 990px) {
      #features {
            position: relative;
            background-color: white;
            padding: 6.5rem 2.5rem;
            text-align: center;
      }
}

/* MOBILE */
@media (max-width: 990px) {
      #features {
            position: relative;
            background-color: white;
            padding: 6.5rem 2.5rem;
            text-align: center;
      }
}

/* +++++++++++ Responsive Code Mode: OFF +++++++++++ */
/* =============================================================== */
/* =============================================================== */
/*


      ___           ___           ___           ___                       ___           ___           ___                       ___           ___       ___
     /\  \         /\  \         /\  \         /\  \          ___        /\__\         /\  \         /\__\          ___        /\  \         /\__\     /\  \
     \:\  \       /::\  \       /::\  \        \:\  \        /\  \      /::|  |       /::\  \       /::|  |        /\  \      /::\  \       /:/  /    /::\  \
      \:\  \     /:/\:\  \     /:/\ \  \        \:\  \       \:\  \    /:|:|  |      /:/\:\  \     /:|:|  |        \:\  \    /:/\:\  \     /:/  /    /:/\ \  \
      /::\  \   /::\~\:\  \   _\:\~\ \  \       /::\  \      /::\__\  /:/|:|__|__   /:/  \:\  \   /:/|:|  |__      /::\__\  /::\~\:\  \   /:/  /    _\:\~\ \  \
     /:/\:\__\ /:/\:\ \:\__\ /\ \:\ \ \__\     /:/\:\__\  __/:/\/__/ /:/ |::::\__\ /:/__/ \:\__\ /:/ |:| /\__\  __/:/\/__/ /:/\:\ \:\__\ /:/__/    /\ \:\ \ \__\
    /:/  \/__/ \:\~\:\ \/__/ \:\ \:\ \/__/    /:/  \/__/ /\/:/  /    \/__/~~/:/  / \:\  \ /:/  / \/__|:|/:/  / /\/:/  /    \/__\:\/:/  / \:\  \    \:\ \:\ \/__/
   /:/  /       \:\ \:\__\    \:\ \:\__\     /:/  /      \::/__/           /:/  /   \:\  /:/  /      |:/:/  /  \::/__/          \::/  /   \:\  \    \:\ \:\__\
   \/__/         \:\ \/__/     \:\/:/  /     \/__/        \:\__\          /:/  /     \:\/:/  /       |::/  /    \:\__\          /:/  /     \:\  \    \:\/:/  /
                  \:\__\        \::/  /                    \/__/         /:/  /       \::/  /        /:/  /      \/__/         /:/  /       \:\__\    \::/  /
                   \/__/         \/__/                                   \/__/         \/__/         \/__/                     \/__/         \/__/     \/__/


*/
/************* TESTIMONIALS SECTION ************* */
#testimonials {
      padding: 10rem 0 1rem;
      text-align: center;
      background-color: #ef8172;
      color: white;
}

#press {
      padding: 2rem 2.5rem 5rem 2.5rem;
      text-align: center;
      background-color: #ef8172;
      color: white;
}

/* +++++++++++ Testimonials Carousel +++++++++++ */
.carousel-item {
      padding: 0 2.5rem 2.5rem 2.5rem;
}

.testimonial-text {
      line-height: 1.5;
      font-size: 2rem;
      padding: 0 8rem 0;
}

.testimonial-image {
      width: 10%;
      border-radius: 100%;
      margin: 1.2rem;
}

.carousel-control-prev .carousel-control-next {
      width: 0;
}

/* +++++++++++ Press Images Section +++++++++++ */
.press-image-icon {
      margin: 1em 2.14em;
      width: 15%;
}

/* +++++++++++ Responsive Code Mode: ON +++++++++++ */
/* MOBILE */
@media (max-width: 990px) {
      #testimonials {
            padding: 5rem 2rem;
      }

      .carousel-item {
            padding: 0 0.5rem 2.5rem;
      }

      .testimonial-image {
            width: 20%;
            border-radius: 100%;
            margin: 1.2rem;
      }

      .press-image-icon {
            margin: 2em 2.14em;
            width: 40%;
      }
}

/* XTRA SMALL MOBILE */
@media (max-width:600px) {

      /* Testimonial Bar */
      #testimonials {
            padding: 5rem 2rem;
      }

      .carousel-item {
            padding: 0 2.5rem 2.5rem 2.5rem;
      }

      .testimonial-text {
            font-size: 1rem;
            padding: 0 8rem 0;
      }

      .testimonial-image {
            width: 20%;
            border-radius: 100%;
            margin: 1.2rem;
      }

      .carousel-control-prev .carousel-control-next {
            width: 0;
      }

      .press-image-icon {
            margin: 2em 2.14em;
            width: 40%;
      }
}

/* +++++++++++ Responsive Code Mode: OFF +++++++++++ */
/* =============================================================== */
/* =============================================================== */
/*


      ___           ___                       ___                       ___           ___
     /\  \         /\  \          ___        /\  \          ___        /\__\         /\  \
    /::\  \       /::\  \        /\  \      /::\  \        /\  \      /::|  |       /::\  \
   /:/\:\  \     /:/\:\  \       \:\  \    /:/\:\  \       \:\  \    /:|:|  |      /:/\:\  \
  /::\~\:\  \   /::\~\:\  \      /::\__\  /:/  \:\  \      /::\__\  /:/|:|  |__   /:/  \:\  \
 /:/\:\ \:\__\ /:/\:\ \:\__\  __/:/\/__/ /:/__/ \:\__\  __/:/\/__/ /:/ |:| /\__\ /:/__/_\:\__\
 \/__\:\/:/  / \/_|::\/:/  / /\/:/  /    \:\  \  \/__/ /\/:/  /    \/__|:|/:/  / \:\  /\ \/__/
      \::/  /     |:|::/  /  \::/__/      \:\  \       \::/__/         |:/:/  /   \:\ \:\__\
       \/__/      |:|\/__/    \:\__\       \:\  \       \:\__\         |::/  /     \:\/:/  /
                  |:|  |       \/__/        \:\__\       \/__/         /:/  /       \::/  /
                   \|__|                     \/__/                     \/__/         \/__/


*/
/************* PRICING SECTION ************* */
#pricing {
      padding: 3rem;
      text-align: center;
}

/* +++++++++++ Press Images Section +++++++++++ */
.pricing-header {
      line-height: 1.5;
}

.pricing-column {
      padding: 2% 5%;
}

/* =============================================================== */
/* =============================================================== */
/*


          _____                _____                    _____
         /\    \              /\    \                  /\    \
        /::\    \            /::\    \                /::\    \
       /::::\    \           \:::\    \              /::::\    \
      /::::::\    \           \:::\    \            /::::::\    \
     /:::/\:::\    \           \:::\    \          /:::/\:::\    \
    /:::/  \:::\    \           \:::\    \        /:::/__\:::\    \
   /:::/    \:::\    \          /::::\    \      /::::\   \:::\    \
  /:::/    / \:::\    \        /::::::\    \    /::::::\   \:::\    \
 /:::/    /   \:::\    \      /:::/\:::\    \  /:::/\:::\   \:::\    \
/:::/____/     \:::\____\    /:::/  \:::\____\/:::/  \:::\   \:::\____\
\:::\    \      \::/    /   /:::/    \::/    /\::/    \:::\  /:::/    /
 \:::\    \      \/____/   /:::/    / \/____/  \/____/ \:::\/:::/    /
  \:::\    \              /:::/    /                    \::::::/    /
   \:::\    \            /:::/    /                      \::::/    /
    \:::\    \           \::/    /                       /:::/    /
     \:::\    \           \/____/                       /:::/    /
      \:::\    \                                       /:::/    /
       \:::\____\                                     /:::/    /
        \::/    /                                     \::/    /
         \/____/                                       \/____/



*/
/************* CTA SECTION ************* */
#cta {
      background-color: #ff4c68;
      color: white;
      padding-bottom: 3rem;
      text-align: center;
}

/* +++++++++ Call to Action Bar +++++++++ */
.cta-text {
      padding: 3.25rem 5% 1rem;
      font-weight: 900;
}

.cta-dl-icon {
      margin: 1rem 1.5rem;
}

/* =============================================================== */
/* =============================================================== */
/*


          _____                   _______                  _______               _____                    _____                    _____
         /\    \                 /::\    \                /::\    \             /\    \                  /\    \                  /\    \
        /::\    \               /::::\    \              /::::\    \           /::\    \                /::\    \                /::\    \
       /::::\    \             /::::::\    \            /::::::\    \          \:::\    \              /::::\    \              /::::\    \
      /::::::\    \           /::::::::\    \          /::::::::\    \          \:::\    \            /::::::\    \            /::::::\    \
     /:::/\:::\    \         /:::/~~\:::\    \        /:::/~~\:::\    \          \:::\    \          /:::/\:::\    \          /:::/\:::\    \
    /:::/__\:::\    \       /:::/    \:::\    \      /:::/    \:::\    \          \:::\    \        /:::/__\:::\    \        /:::/__\:::\    \
   /::::\   \:::\    \     /:::/    / \:::\    \    /:::/    / \:::\    \         /::::\    \      /::::\   \:::\    \      /::::\   \:::\    \
  /::::::\   \:::\    \   /:::/____/   \:::\____\  /:::/____/   \:::\____\       /::::::\    \    /::::::\   \:::\    \    /::::::\   \:::\    \
 /:::/\:::\   \:::\    \ |:::|    |     |:::|    ||:::|    |     |:::|    |     /:::/\:::\    \  /:::/\:::\   \:::\    \  /:::/\:::\   \:::\____\
/:::/  \:::\   \:::\____\|:::|____|     |:::|    ||:::|____|     |:::|    |    /:::/  \:::\____\/:::/__\:::\   \:::\____\/:::/  \:::\   \:::|    |
\::/    \:::\   \::/    / \:::\    \   /:::/    /  \:::\    \   /:::/    /    /:::/    \::/    /\:::\   \:::\   \::/    /\::/   |::::\  /:::|____|
 \/____/ \:::\   \/____/   \:::\    \ /:::/    /    \:::\    \ /:::/    /    /:::/    / \/____/  \:::\   \:::\   \/____/  \/____|:::::\/:::/    /
          \:::\    \        \:::\    /:::/    /      \:::\    /:::/    /    /:::/    /            \:::\   \:::\    \            |:::::::::/    /
           \:::\____\        \:::\__/:::/    /        \:::\__/:::/    /    /:::/    /              \:::\   \:::\____\           |::|\::::/    /
            \::/    /         \::::::::/    /          \::::::::/    /     \::/    /                \:::\   \::/    /           |::| \::/____/
             \/____/           \::::::/    /            \::::::/    /       \/____/                  \:::\   \/____/            |::|  ~|
                                \::::/    /              \::::/    /                                  \:::\    \                |::|   |
                                 \::/____/                \::/____/                                    \:::\____\               \::|   |
                                  ~~                       ~~                                           \::/    /                \:|   |
                                                                                                         \/____/                  \|___|

*/
/************* FOOTER SECTION ************* */
#footer {
      background-color: white;
      padding: 2.5rem auto 1.5rem;
      text-align: center;
      font-size: 0.75rem;
}

/* Footer */
.footer-fas-icon {
      margin: 2rem 0.5rem 1rem;
}

.footer-text {
      margin-top: 0.5rem;
      margin-bottom: 1.5rem;
}

/* =============================================================== */